{layout name="link" /}
<div class="content">
    <h1>您已成功完成，感谢您的参与！</h1>
    <p class="p first">您的观点会帮助我们赢取更多的机会以及让我们更好的为你服务！</p>
    <p class="p mg">您可以选择返回会员中心继续参与其他调查。</p>
    <p class="p">热心公益是每个人应该积极参与的，诚挚邀请您参与其中，</p>
    <p class="p">您每捐献20个积分，我们将会有对等价值的钱放进公益基金中以便帮助更多的人。</p>
    <div id="buttons" class="gradient">
        <a href="#" class="gradient" style=" text-decoration:none">
            <input type="button" value="返回会员中心" />
        </a>
        <a href="#" class="gradient" style=" text-decoration:none">
            <input type="button" value="捐助" />
        </a>
    </div>
</div>
<div class="ad">
    <h2>传递爱心，从我做起</h2>
    <ul>
        <li><a href="#" target="_blank">2015年宝贝回家四川群年会于2016年1月10日</a></li>
        <li><a href="#" target="_blank">2015年宝贝回家四川群年会于2016年1月10日</a></li>
        <li><a href="#" target="_blank">2015年宝贝回家四川群年会于2016年1月10日</a></li>
        <li><a href="#" target="_blank">2015年宝贝回家四川群年会于2016年1月10日</a></li>
    </ul>
    <div class="resource">
        数据来自<a href="#" target="_blank">宝贝回家</a>
    </div>
</div>
