<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>爱好奇管理平台</title>
	<link rel="stylesheet" href="{$css}/reset.css">
	<link rel="stylesheet" href="{$css}/animate.min.css">
	<link rel="stylesheet" href="{$css}/admin/common.css">
</head>
<body>
	<div id="app"></div>
	<script type="text/javascript" src="{$js}/lib/react/react.min.js"></script>
	<script type="text/javascript" src="{$js}/lib/react/react-dom.min.js"></script>
	<script type="text/javascript" src="{$js}/lib/react/browser.min.js"></script>
	<script type="text/babel" src="{$js}/app/admin/index.js"></script>
</body>
</html>